@mixin button {
  background-color: transparent;
  border          : 1px solid transparent;
  border-radius   : em(4);
  cursor          : pointer;
  display         : inline-block;
  min-width       : 11rem;
  overflow        : hidden;
  padding         : $padding-x-small $padding-x-small;
  text-align      : center;
  text-decoration : none;
  transition      : background-color 200ms ease-out, border 200ms ease-out, color 200ms ease-out;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin button-large {
  font-size: em(20);
  padding  : $padding-small $padding-small;
}

@mixin button-small {
  font-size: em(12);
  //padding  : $padding-small $padding-small;
}

@mixin button-primary {
  @include button;
  background-color: $colour-yellow;
  border-color    : $colour-yellow;
  color           : $colour-grey;

  &:focus,
  &:hover {
    background-color: $colour-grey;
    border-color    : $colour-grey;
    color           : #fff;
  }
}

@mixin button-primary-large {
  @include button-primary;
  @include button-large;
}

@mixin button-secondary {
  @include button;
  background-color: $colour-russet;
  border-color    : $colour-russet;
  color           : $colour-grey;

  &:focus,
  &:hover {
    background-color: #fff;
  }
}

@mixin button-dark {
  @include button;
  background-color: $colour-grey;
  border-color    : $colour-grey;
  color           : #fff;

  &:focus,
  &:hover {
    background-color: #fff;
    color           : $colour-grey;
  }
}

@mixin button-white {
  @include button;
  background-color: #fff;
  border-color    : $colour-blue;
  color           : $colour-grey;

  &:focus,
  &:hover {
    background-color: $colour-grey;
    border-color    : $colour-grey;
    color: #fff;
  }
}

@mixin button-action {
  @include button;
  background-color: $colour-russet;
  border-color    : $colour-russet;
  border-radius   : 2em;
  color           : $colour-grey;
  min-width       : 0;
  padding-left    : 1.8em;
  padding-right   : $padding-small;
  position        : relative;

  &:after,
  &:before {
    background-color: $colour-grey;
    content         : '';
    height          : 0.1em;
    position        : absolute;
    left            : 0.7em;
    top             : calc(50% - 0.05em);
    transform-origin: center center;
    transition      : transform 300ms ease-out;
    width           : 0.8em;
  }

  &:before {
    transform : rotate(90deg);
  }

  &:focus,
  &:hover {
    background-color: #fff;
  }

  &[data-state="active"] {
    &:before {
      transform: rotate(180deg);
    }
  }
}

@mixin button-close {
  border  : 1px solid transparent;
  color   : transparent;
  height  : 2em;
  outline : none;
  overflow: hidden;
  position: relative;
  width   : 2em;

  &:after {
    color      : $colour-grey;
    content    : 'close';
    font-family: $font-icons;
    font-size  : 1.8em;
    left       : 50%;
    line-height: 0.95em;
    position   : absolute;
    top        : 50%;
    transform  : translate(-50%, -50%);
  }

  &:focus,
  &:hover {
    background-color: $colour-blue;
  }
}
