@import "../../../00-Base/Sass/config";

.m-form-field {
  position: relative;

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    background-color: #fff;
    border          : 1px solid #fff;
    border-radius   : 0.3em;
    overflow        : hidden;
    outline         : none;
    padding         : $padding-small;
    width           : 100%;

    &:focus {
      border-color: $colour-blue;
    }
  }
}

.m-form-field__label {
  color   : transparent;
  height  : 1px;
  overflow: hidden;
  position: absolute;
  width   : 1px;
}

.m-form-field__markup {
  text-align: center;
}

.m-form-field__radio-option {
  margin   : 0 auto $padding-x-small;
  position : relative;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    position: absolute;
    left    : 50%;
    top     : 1em;
    z-index : 1;
  }

  input:checked + label{
    background-color: $colour-grey;
    border-color    : $colour-grey;
    color: #fff;
  }

  label {
    @include button-white;
    padding-bottom: $padding-small;
    padding-top   : $padding-small;
    position      : relative;
    width         : 100%;
    z-index       : 2;
  }
}

.m-form-field[data-has-error="true"] {
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border-color: $colour-red;
  }

  .m-form-field__error-message {
    color: $colour-red;
    margin-top: $padding-x-small;
  }
}